{% extends "KaliopEzobjectWorkshopBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="type">{{ ez_render_field(content,'name') }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="bs-component">
                    <h2>Children</h2>
	                <ul class="list-group">
                    {% for childInfo in  children %}
	                    {% if  childInfo.identifier == 'event' or childInfo.identifier == 'article' or childInfo.identifier == 'call_to_action' %}

	                    <li class="list-group-item">{{ ez_render_field(childInfo.content,'title') }}</li>

	                    {% else %}

	                    <li class="list-group-item">{{ ez_render_field(childInfo.content,'name') }}</li>

	                    {% endif %}

                    {% endfor %}
	                </ul>
                </div>

            </div>

        </div>



        </div>
{% endblock %}