{% extends "KaliopEzobjectWorkshopBundle::pagelayout.html.twig" %}

{% block content %}
<div class="container">
	<div class="bs-docs-section">

		<div class="row">
			<div class="span9 place-list-name">
				<h1>{{ ez_render_field( content, 'name') }}</h1>

				<div id="place-list-container">
					{% for place in  children%}

						{{ renderLocation(place.id, 'line')|raw }}

					{% endfor %}

				</div>
			</div>
		</div>
</div>
	</div>

{% endblock %}
