/vendor/
.php~
/nbproject/
/.idea/
/bin/behat
/bin/phpunit
/bin/webunit
/bin/doctrine
/bin/doctrine.php
/bin/doctrine-dbal
/ezpublish/config/settings_instance_dev.yml
/ezpublish/cache/
/ezpublish/logs/
/ezpublish_legacy
/ezpublish/sessions
/ezpublish/bootstrap.php.cache
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
/web/css/*
/web/js/*
/web/compiled/*
*.css.map
composer.phar
composer.lock
.buildpath
.project
.settings/
web/.htpasswd
prepros.cfg
