{% extends "KaliopEzobjectWorkshopBundle::pagelayout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="bs-docs-section">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-header">
						<p class="{{ wrapper.getColorClass }}">{{ ez_render_field(content,'title') }}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="bs-component">
						{% if wrapper.imageField is not null %}
							{{ ez_render_field(content,wrapper.imageField, {'parameters' : {'alias': 'large'}}) }}
						{% endif %}

						{{ ez_render_field(content,'intro') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}